a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li{
  margin: 0px;
  padding: 0px;
}

a{
  margin: 0px;
  padding: 0px;
}

header{
  border-bottom: 1px solid;
}

body{
  background-color: lightgrey;
}

img{
  width: 100%;
}

.headWrap{
  border-bottom: 1px solid;
}

.portLink, .siteLink{
  font-family: 'Share Tech Mono', serif;
  font-size: 1.5em;
}

.resTitle a{
  font-family: 'Share Tech Mono', serif;
  font-size: 1.5em;
}

.listWrapper, .resourceWrapper{
  background-color: white;
}
