.headWrap{
  float: left;
  width: 100%;
}

.icon-menu{
  font-size: 1.5em;
  color: white;
}

.icon-menu:hover{
  background-color: white;
  color: black;
}

.siteLinks{
  display: inline-block;
  width: 79%;
}

.siteLinks ul{
  display: none;
  width: 100%;
}

.siteLinks li{
  display: block;
}

.siteLink{
  display: inline-block;
  width: 24%;
  height: 30px;
  line-height: 20px;
  padding-top: 10px;
  background-color: black;
  color: white;
}

.siteLink:hover{
  background-color: lightgrey;
  color: black;
}

.socialLinks{
  display:  inline-block;
  width: 20%;
}

.socialLinks ul{
  display: inline-block;
  width: 100%;
}

.socialLinks li{
  display: inline;
  width: 49%;
}

.socialLink{
  display: inline;
  height: 30px;
  width: 100%;
}

.portfolioList{
  width: 80%;
  margin: auto;
}

.portfolioList li.portItem{
  display: inline-block;
}

.portItem{
  padding: 12px;
}

.portLink{
  display: block;
  height: 20px;
  width: 170px;
  background-color: black;
  border-radius: 3px;
  line-height:12px;
  padding-top:100px;
  padding-right: 10px;
  color: white;
  text-align: right;
}

.portLink:hover{
  background-color: lightgrey;
  color: black;
}

.captionText{
  width: 180px;
  padding-bottom: 20px;
}

#gitIcon{
  background-color: black;
}

.socialImgLink{
  height: 30px;
  width: 30px;
}

.resItem{
  margin: 0;
  padding-bottom: 20px;
}

.resTitle{
  padding-bottom: 5px;
}

.resourceWrapper ul{
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 760px){
  .siteLinks ul{
    display: inline-block;
  }

  .siteLinks li{
    display: inline;
    width: 24%;
  }

  .icon-menu{
    display: none;
  }
}

@media screen and (min-width: 1000px){
  .listWrapper{
    width: 65%;
    display: inline-block;
    margin-top: 0px;
    margin-right: 2px;
  }
  .resourceWrapper{
    width: 32%;
    display: inline-block;
    margin-top: 0px;
    border-left: 1px solid;
  }
}

.template{
  display: none;
}
