.headWrap{
  float: left;
  width: 100%;
}

.icon-menu{
  float: left;
}

.siteLinks{
  float: left;
}

.siteLinks ul{
  display: none;
}

.siteLinks:hover ul{
  display: block;
}

.siteLink{
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  padding-top: 4px;
  padding-left: 4px;
  background-color: black;
  color: white;

}

.siteLink:hover{
  background-color: lightgrey;
  color: black;
}

.socialLinks{
  float: right;
}

.socialLinks li{
  display: inline;
}

.portfolioList ul{
  width: 100%;
  margin-left: auto;
}

.portfolioList li{
  display: inline-block;
}

.portItem{
  padding: 20px;
}

.portLink{
  display: block;
  height: 20px;
  width: 170px;
  background-color: black;
  border-radius: 3px;
  line-height:12px;
  padding-top:100px;
  padding-right: 10px;
  color: white;
  text-align: right;
}

.portLink:hover{
  background-color: lightgrey;
  color: black;
}

.captionText{
  width: 180px;
  padding-bottom: 20px;
}

@media screen and (min-width: 760px){
  .siteLinks ul{
    display: block;
  }

  .siteLinks li{
    display: inline;
  }

  .icon-menu{
    display: none;
  }

}
